body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #423f3f;
}

header {
    background-color: #80cbe9;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #535a56;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 10px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #000000;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

a {
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.newsletter-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color:  #0fb638;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00ec47;
}

a {
    display: block;
    width: 100%;
    overflow: hidden;
}

#bannerImage {
    width: 100%;
    max-width: 100%; 
    display: block;
    margin: 0 auto; 
    border: 2px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#bannerImage:hover {
    opacity: 0.8; 
}

#dummyBannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container img {
    width: 23%; 
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container img:hover {
    opacity: 0.8; 
}

h1 {
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

thead {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

footer {
    background-color:  #444343;;
    color: #000000;
    padding: 10px;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    margin: 0;
}