@{
    ViewBag.Login = Html.ActionLink("Log In", "UserLogin", "Login", new { area = "" }, new { @class = "nav-link", style = "font-size:18px; color: white; display: inline-block;" });
    //ViewBag.Login = Html.ActionLink("Rent", "InsertUser", "User", new { area = "" }, new { @class = "nav-link", style = "font-size:18px; color: white; display: inline-block;" });

}

<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <style>
        body {
            background-image: url('../../content/images/carimage.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Car Rental  System</h1><br><br>
        <p style="font-size:160%;">A company that rents automobiles for short periods of time to the public, generally ranging from a few hours to a few weeks.</p>






        <div class="container">
            <h2>About Our Car Rental Service</h2>
            <p>Welcome to our car rental management system. We provide a wide range of vehicles for rent, including sedans, SUVs, trucks, and luxury cars. Whether you need a vehicle for a business trip, vacation, or special occasion, we have you covered.</p>

        </div>
    </div>


</body>
</html>